.App {
    height: 100vh;
    display: flex;
    color: white;
}

.App__Aside {
    width: 50%;
    background-color: #66DAC7;
    text-align: center;
    padding-top: 50px;
    color: black;
    display: block;
}

.Information_frontPage {
    display: block;
    padding-left: 22%;
    padding-right: 22%;
}

.Information_frontPage_title {
    text-align: left;
}

.Information_FrontPage_Text {
    text-align: left;
}

.App__Form {
    width: 50%;
    background-color: #0b5257;
    padding: 25px 40px;
    overflow: auto;
}

.App__Form_Mobile {
    width: 100%;
    background-color: #0b5257;
    overflow: auto;
    text-align: center;
}

.PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
}

.PageSwitcher_Mobile {
    text-align: center;
    justify-content: flex-end;
    margin-bottom: 10%;
    width: 100%;
}

.PageSwitcher__Item {
    background-color: #4C5D72;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
}

.PageSwitcher__Item_mobile {
    background-color: #4C5D72;
    color: #9DA6B1;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.PageSwitcher__Item--Active {
    background-color: #5ED0C0;
    color: white;
}

.login__logo {
    height: 100px;
    width: 100px;
    padding-bottom: 40px;
}

.PageSwitcher__Item--Active2 {
    background-color: #5ED0C0;
    color: white;
}

.PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.FormCenter {
    margin-bottom: 100px;
}

.FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
}

.FormTitle__Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
}

.FormTitle__Link:first-child {
    margin-left: 0;
}

.FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #199087;
}

.FormField {
    margin-bottom: 40px;
}

.FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
}

.FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
}

.FormField__Input::placeholder {
    color: #616E7F;
}

.FormField__Button {
    background-color: #2f8a78;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
    cursor: pointer;
}

.FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
}

.FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
}

.FormField__Checkbox {
    position: relative;
    top: 1.5px;
}

.FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
}

#message {
}

.nameList {
    color: white;
    background-color: #0b5257;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
}

.homeContent {
    display: inline-block;
    width: 30%;
    text-align: center;
    min-width: 300px;
    margin-bottom: 10px;
    margin-right: 1%;
    background-image: linear-gradient(#2f8a78, #41aba0);
    background-size: cover;
    box-shadow: 10px 10px;
    z-index: -1;
    color: black;
    vertical-align: top;

}

.home {
    padding-top: 20px;
    text-align: center;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    box-shadow: 10px 10px;
    padding-bottom: 1%;

}

.topBarDiv {
    display: block;
    height: 10%;
    overflow: hidden;

}

.addIcon {
    width: 20px;
    display: inline-block;
    padding-bottom: 4%;
    cursor: pointer;
}

.taskIcon {
    width: 35px;
    padding-right: 5px;
}

.homeContentTitle {
    display: inline-block;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 5%;
    text-align: center;
}

.taskFormWrapper {
    display: block;
    text-align: center;
    background-color: #5ED0C0;
    border-radius: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 5%;
    min-width: 600px;
    color: black;

}

.taskFormDiv {
    display: block;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 60px;
    overflow: auto;
    color: black;

}

.FormField__modal {
    margin-bottom: 40px;
    text-align: left;
}

.FormField__modal__checkbox {
    margin-bottom: 40px;
    width: 25%;
}

.FormField__modal__number {
    margin-bottom: 40px;
    text-align: left;
}

.FormField__modal__gjenta {
    margin-bottom: 40px;
    width: 100%;
    display: inline-block;
    float: left;
}

.FormField__modal__option {
    display: inline-block;
    float: left;
    line-height: 50px;
}

.FormField__modal__gjenta__number {
    margin-bottom: 40px;
    display: inline-block;
    float: left;
}

.FormField__select {
    width: 80px;
    height: 40px;
    font-size: 15px;
    background-color: white;
    border-style: hidden;
    color: black;
}

.FormField__Label__modal {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: black;
    text-align: left;
}

.FormField__text__modal {
    display: block;
    font-size: .6em;
    color: black;
    text-align: left;
}

.FormField__Input__modal {
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
}

.FormField__Input__modal::placeholder {
    color: #616E7F;
}

.FormField__Button__modal {
    background-color: #2f8a78;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
}

.FormField__Link__modal {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
}

.FormField__CheckboxLabel__modal {
    color: #646F7D;
    font-size: .9em;
}

.FormField__Checkbox__modal {
    position: relative;
    top: 1.5px;
}

.check {
    margin-left: 10px;
    width: 60px;
    height: 60px;
    position: absolute;

}

.check input {
    display: none;
}

.check input:checked + .box {
    background-color: #b3ffb7;
}

.check input:checked + .box:after {
    top: 0;
}

.check .box {
    width: 50%;
    height: 50%;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    border: 2px solid transparent;
    background-color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

.check .box:after {
    width: 50%;
    height: 20%;
    content: '';
    position: absolute;
    border-left: 7.5px solid;
    border-bottom: 7.5px solid;
    border-color: #40c540;
    transform: rotate(-45deg) translate3d(0, 0, 0);
    transform-origin: center center;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    left: 0;
    right: 0;
    top: 200%;
    bottom: 5%;
    margin: auto;
}

.FormField__modal__checkbox__div {
    text-align: right;
}

.FormField__modal__task__button {
    margin-bottom: 40px;
    display: inline-block;
    float: left;
    text-align: left;
    margin-right: 5px;
}

.FormField__title {
    color: white;
    padding-top: 20px;
    text-decoration: underline;
}

.notInKollektivWrapper {
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.notInKollektivWindow {
    height: 40%;
    background-color: white;
    display: block;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
}

.joinKollektivSide {
    background-color: #41aba0;
    background-size: cover;
    height: 100%;
    float: right;
    white-space: pre-wrap;

}

.createNewKollektivSide {
    background-color: #2f8a78;
    background-size: cover;
    height: 100%;
    float: left;
    white-space: pre-wrap;

}

.createNewKollektivSide, .joinKollektivSide {
    display: inline-block;
    width: 50%;
    padding-bottom: 2%;
}

.createNewKollektivSide h1, .joinKollektivSide h1 {
    font-size: 2.5vw;
    text-decoration: underline;
}

.createNewKollektivSide p, .joinKollektivSide p {
    font-size: 13pt;
    white-space: pre-wrap;
}

.createNewKollektivSide input, .joinKollektivSide input {
    text-align: center;
    width: 60%;
    height: 30px;
    color: black;
}

.createNewKollektivSide input {
    background-color: #41aba0;
    border: none;
    border-radius: 6%;
}

.joinKollektivSide input {
    background-color: #2f8a78;
    border: none;
    border-radius: 6%;
}

.FormField__Button__create__kollektiv, .FormField__Button__join__kollektiv {
    color: black;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
    margin-top: 10px;
    width: 60%;
}

.FormField__Button__create__kollektiv {
    background-color: #41aba0;
}

.FormField__Button__join__kollektiv {
    background-color: #2f8a78;
}

.notInKollektivWrapper__mobile {
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.notInKollektivWindow__mobile {
    height: 40%;
    background-color: white;
    display: block;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;

}

.joinKollektivSide__mobile {
    background-color: #41aba0;
    background-size: cover;
    float: right;
    white-space: pre-wrap;
}

.createNewKollektivSide__mobile {
    background-color: #2f8a78;
    background-size: cover;
    white-space: pre-wrap;
    float: right;
}

.createNewKollektivSide__mobile, .joinKollektivSide__mobile {
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    position: fixed;
}

.createNewKollektivSide__mobile h1, .joinKollektivSide__mobile h1 {
    font-size: 10vw;
    text-decoration: underline;
}

.createNewKollektivSide__mobile p, .joinKollektivSide__mobile p {
    font-size: 6vw;
    white-space: pre-wrap;
}

.createNewKollektivSide__mobile input, .joinKollektivSide__mobile input {
    text-align: center;
    font-size: 6vw;
    width: 90%;
    height: 60px;
    color: black;
}

.createNewKollektivSide__mobile input {
    background-color: #41aba0;
    border: none;
    border-radius: 6%;
}

.joinKollektivSide__mobile input {
    background-color: #2f8a78;
    border: none;
    border-radius: 6%;
}

.FormField__Button__create__kollektiv__mobile, .FormField__Button__join__kollektiv__mobile {
    color: black;
    border: none;
    outline: none;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
    width: 100%;
    bottom: 0;
    display: block;
    position: fixed;
}

.FormField__Button__create__kollektiv__mobile {
    background-color: #41aba0;
}

.FormField__Button__join__kollektiv__mobile {
    background-color: #2f8a78;
}

.PageSwitcher__notInKollektiv_Mobile {
    text-align: center;
    justify-content: flex-end;
    width: 100%;
}

.PageSwitcher__notInKollektiv__Item_mobile {
    background-color: #4C5D72;
    color: #9DA6B1;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.PageSwitcher__notInKollektiv__Item_mobile__Item--Active {
    background-color: #5ED0C0;
    color: white;
}

.PageSwitcher__notInKollektiv__Item--Active2 {
    background-color: #5ED0C0;
    color: white;
}

.PageSwitcher__notInKollektiv__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.PageSwitcher__notInKollektiv__mobile__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.top_buttons_mobile {
    width: 100%;
    display: block;
    height: 100px;
}

.top_button_mobile {
    width: 30%;
    display: inline-block;
}

.top_button_mobile_options {
    width: 10%;
}

.top_button_mobile .top_button_mobile_options {
    height: 100%;
}

.PageSwitcher__home_Mobile {
    text-align: center;
    justify-content: flex-end;
    width: 100%;
}

.PageSwitcher__home__Item_mobile {
    background-color: #646a70;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    outline: none;
    display: inline-block;
    text-decoration: none;
    width: 25%;
    border-color: white;
    border-bottom: none;
    border-top: none;
}

.PageSwitcher__home__Item_mobile__Item--Active {
    background-color: #5ED0C0;
    color: white;
}

.PageSwitcher__home__menu_mobile {
    background-color: #6f6f70;
    color: #9DA6B1;
    cursor: pointer;
    font-size: 1.2em;
    outline: none;
    display: inline-block;
    text-decoration: none;
    width: 10%;
    height: 100%;
    padding-top: 20px;
    border-width: 1px;
    border-color: #4C5D72;

}

.PageSwitcher__home__Item_mobile__menu--Active {
    background-color: #5ED0C0;
    color: white;
}

.PageSwitcher__notInKollektiv__menu_mobile:first-child {
    border-left: none;
}
.PageSwitcher__notInKollektiv__menu__mobile:last-child {
    border-right: none;
}

.checklistImage {
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
}

.Mobile__Home__component {
    text-align: center;
    background-color: #5ED0C0;
    color: white;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}

.Mobile__Home__component__title__section__text {
    display: inline-block;
}

.Mobile__Home__component__title__section__image {
    width: 7%;
    display: inline-block;
}

.Mobile__Home__component__navlink {
    width: 100%;
    height: 100%;
}

.Mobile__create__task__component {
    background-color: #5ED0C0;
    text-align: center;
    height: 88%;
    width: 100%;
    display: block;
    position: absolute;

}

.FormField__Button__mobile {
    background-color: #2f8a78;
    color: white;
    border: none;
    outline: none;
    padding: 15px 70px;
    font-size: 1.5em;
    font-weight: 500;
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0;
}

.FormField__modal__checkbox__mobile {
    text-align: center;
    width: 100%;
}

.FormField__Label__modal__mobile {
    display: inline-block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
    padding-right: 10px;
}

.FormField__modal__checkbox__div__mobile {
}

.FormField__modal__gjenta__mobile {
    padding-top: 50px;
    width: 100%;
    display: block;
}


.FormField__modal__gjenta__number__mobile {
    margin-bottom: 40px;
    display: block;
    width: 100%;
}

.FormField__modal__option__mobile {
    display: block;
    line-height: 50px;
    text-align: center;
    width: 100%;
}



.FormField__Input__modal__mobile {

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.FormField__Input__addMember__modal {
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    width: 85%;
    margin-top: 10px;
}

.FormField__select {
    width: 85%;
    height: 40px;
    font-size: 15px;
    background-color: white;
    border-style: hidden;
    color: black;

}

.CopyKollektivCodeIcon {
    height: 40px;
}

.addMemberCodeDiv {
    height: 10%;
    vertical-align: middle;
}

.moreMenuItem {
    cursor: pointer;
}

.Settings__Mobile {
    background-color: #5ED0C0;
    text-align: center;
    display: block;
    position: absolute;
    padding-top: 1px;
    height: 100%;
    width: 100%;
}

.Settings__Desktop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 5%;
    text-align: center;
}



.add__member__close__button {
    float: right;
    background-color: #2f8a78;
    border: none;
    height: 30px;
    width: 30px;

}