// Sidebar.scss
.menuIcon{
  float: left;
  height: 100%;

}
.logout {
  top: 30px;
  height: auto;
  left: 350px;
  position: fixed;
}

.topBar {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: white;
  text-align: center;
  }




.menuOption {
  width: 100%;
  height: 50px;
  z-index: 1;
  text-align: center;
  background-image: linear-gradient(to bottom, #2f8a78, #41aba0, #41aba0);
  color: black;
  cursor: pointer;
}

.menuOption:hover {
  background-image: linear-gradient(to bottom, #41aba0, #41aba0, #2f8a78);
}

.menuButtonDiv {
  position: absolute;
}

.menuButtonDivContainer {
  display: inline-block;
  float: left;
  z-index: 1;
}

.menuButton {

}

.kollektivetTitle {
  display: inline-block;
  margin-left: 0.2%;
  float: left;
}

.menuButtonText {
  display: inline-block;
  font-size: 1vw;
  cursor: pointer;
}

.arrowDownMenu {
  display: inline-block;
  width: 1%;
  height: 1%;
}

.menu {

}

.arrowDownPicture {
  height: 125%;
  width: 125%;
  display: inline-block;
  margin-left: 2px;
  cursor: pointer;

}

.logoDiv {
  display: inline-block;
  height: 100%;
  width: 50%;
  float: left;
}

.test {
  width: auto;
}

